.widgets{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr ;
 gap:2vh;
 padding: 2rem;
    
}


.focus{
    background-color: #F1C758;
            grid-row: 1;
            height: 60vh;
            border-radius: 24px;
            padding: 2em;
}
.focus :focus{
    background-color: rebeccapurple;
}